@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

header {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.card
{
    background-color: #072110;
}

.fact-image {
    display: block;
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}

/* Site Colour Variables */
.honolulu-blue{
    color: #1f6fa4;
}

.ming{
    color: #246F75;
}

.phthalo-green{
    color: #072110;
}

.pakistan-green{
    color: #236823;
}

.green-ryb{
    color: #64B334;
}


/* Navigation */
.navbar {
    background-color: #072110;
}

.navbar-toggler {
    border-color: white;
    color: white;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #64B334;
}

.active a {
    color: #64B334;
}

.logo{
    height: 100px;
}

.logo:hover {
    animation: logo 1s;
}

@keyframes logo {
    100% {transform: rotate(360deg);}
}

/* home page */

.homepage-p p {
    color: black;
}

.home-title,
.did-you-know-title,
.make-a-difference-title{
    font-family:'Roboto';
    color: #246F75;
    -webkit-text-stroke: 1px white;
}

.did-you-know-title,
.make-a-difference-title{
    padding-top: 15px;
}

.home-header-container{
    background-image: url("../images/sky-background-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: auto;
}

.fact-container{
    background-image: url("../images/forest-background-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: auto;
}

.make-difference-container{
    background-image: url("../images/ocean-background-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: auto;
}

.play-game-btn{
    font-family: 'Bangers';
}

.home-intro-text{
    color: white;
}

.home-info-container{
    display: flex;

}

.card:hover {
    animation: card 0.2s;
}

@keyframes card {
    0% { transform: rotate(0deg); }
  20% { transform: rotate(1deg); }
  40% { transform: rotate(-1deg); }
  60% { transform: rotate(1deg); }
  80% { transform: rotate(-1deg); }
  100% { transform: rotate(0deg); }
}

.card-text,
.card-title {
    color: white;
}


/* Game page  ------------------------------------------*/
.game{
    background-image: radial-gradient(#F8F8F8,#D3D3D3, #64B334);
}

.question{
    font-size: 1.2rem;
}

#game-img {
    max-width: 100px;
}

.score{
    color: green;
    text-decoration: underline;
}

#general-waste-bin{
    color: black ;
}

#recycle-bin{
    color: blue;
}

#glass-bin{
    color: green;
}

#organic-waste-bin{
    color: #6E260E;
}

/* about us page */

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
h2 {
    text-align: center;
    padding: 20px 0;
    margin: 20px 0;
}

.container{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 30px;
}

.person {
    width: 29%;
    height: 100%;
    /* border: 2px solid black; */
    margin: 0 2%;
    text-align: justify;
}

.person-container {
    position: relative;
}

.person-text{
    /* border: 2px solid green; */
    /* min-height: 200px; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: #072110;
    color: white;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: justify;
}

.person-text p {
    margin: 0 10px;
}

.person-image img {
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
}

.person-image img:hover {
    opacity: 0;
  transition:opacity 1s;
}

.person-name {
    text-align: center;
    background-color: #072110;
    color: white;
    text-transform: uppercase;
    bottom: 0;
    margin-top: 3px;
    border-radius: 5px;
    padding: 8px;
}
/* purpose of this game and this page */
.purpose {
    display: flex;
    justify-content: space-around;
    margin: 0 5% 5% 5%;
    height: auto;
}

.purpose div {
    width: 100%;
    margin: 0 2%;
    /* border: 2px solid red; */
    border-radius: 5px;
    box-shadow: 1px 1px 20px 3px #072110;
    padding: 10px;
}
.purpose p {
    text-align: justify ;
    line-height: 1.5em;
    padding: 0 5px;
}

h5 {
    text-align: center;
    border-bottom: 2px solid #072110;
}

/* Footer */
.social, p {
    text-align: center;
}

ul.social {
    padding: 0;
    margin: 0;
}
  
.social a, .sources a {
    text-decoration: none;
}
  
.social li{
    display: inline;
}
  
.social i{
    font-size: 180%;
    padding: 5%;
    color: #1f6fa4;
    padding: 10px;
    transition: 0.2s;
    margin: 0 auto;
}

.sources a {
    color: #1f6fa4;
}

.sources a:hover {
    color:#236823;
}
  
.social i:hover{
    -ms-transform:scale(1.5);
    /* IE 9 */
    -webkit-transform:scale(1.5);
    /* Safari 3 - 8 */
    transform:scale(1.5);
    color:#236823;
}

/* Game Modal */
.modal-content {
    border-radius: 0;
}

.bin-selection {
    border-bottom: 1px solid #dee2e6;
}

/* media query */

@media screen and (max-width: 770px) {
    .person {
        width: 45%;
    }
}

@media screen and (max-width: 600px) {
    .purpose {
        flex-direction: column;
    }
    .purpose div {
        width: 100%;
        margin: 20px 0;
    }
}

@media screen and (max-width: 440px) {
    .person {
        width: 100%;
    }
}

/* Game page - Mobile */
@media screen and (min-width: 320px){
    .fa-trash {
        font-size: 3em; /*Equivalent to the fa-5x bootstrap class*/
    }
}

/* Game page - Tablets */
@media screen and (min-width: 640px){
    .fa-trash {
        font-size: 4em; /*Equivalent to the fa-5x bootstrap class*/
    }

    #game-img {
        max-width: 120px;
    }
}

/* Game page - Desktops */
@media screen and (min-width: 770px){
    .game-info{
        font-size: 1.5rem;
    }

    .question{
        font-size: 1.6rem;
    }

    .fa-trash + p {
        font-size: 1.2rem;
    }

    .fa-trash {
        font-size: 5em; /*Equivalent to the fa-5x bootstrap class*/
    }

    #game-img {
        max-width: 150px;
    }
}